%br
%br
= link_to "Login through GroupMe", auth_path, class: "login-button btn"

.container.intro
  Welcome to
  %span GroupUs    
  \: an easy-to-use web app that presents information about your GroupMe account's groups based off the messages posted in them.
  %br
%br
= image_tag "groupmepowered.png"
