%br
%br
.btn.btn-primary
  = link_to "Login through GroupMe", auth_path, style: "color:white;"
%br
%br
.container.intro
  Welcome to GroupUs, a simple web app that presents information about your GroupMe account's groups based off the messages posted in them.
  %br
  %br
  Currently Under Construction:
  %br
  \- Word Clouds
  %br
  \- NLP Analysis of Word Frequencies
  %br
  \- Add stoplist to filter pronouns and etc.
= image_tag "groupmepowered.png"