.message.container
  .message-image
    = image_tag(message['avatar_url'] == "null" || message['avatar_url'].blank? ? "https://app.groupme.com/images/default-avatar.jpg" : message['avatar_url'])
  .message-details
    .sender-name
      = message['name']
    .message-text
      = message['text']
