:javascript
  $(function () { 
    $('#time-histogram').highcharts({
      chart: {
        type: 'column',
        alignTicks: true
      },
      title: {
        text: 'Messages by Time sent',
        style: {
          fontSize: '16px',
          fontFamily: 'Helvetica Neue, Helvetica, Arial, sans-serif'
        }
      },
      xAxis: {
        categories: #{format_times(time_frequencies.keys)},
        labels: {
          rotation: -45,
          align: 'right',
          style: {
            fontSize: '13px',
            fontFamily: 'Helvetica Neue, Helvetica, Arial, sans-serif'
          }
        }
      },
      yAxis: {
        min: 0,
        max: #{time_frequencies.values.max + time_frequencies.values.max / 5},
        minTickInterval: 10,
        title: {
          text: '# Messages sent'
        }
      },
      legend: {
        enabled: false
      },
      tooltip: {
        pointFormat: '# Messages sent: <b>{point.y} </b>',
      },
      series: [{
        name: 'Message Frequencies',
        data: #{time_frequencies.values},
        dataLabels: {
          enabled: true,
          color: 'black',
          style: {
            fontSize: '13px',
            fontFamily: 'Helvetica Neue, Helvetica, Arial, sans-serif'
          }
        }
      }],
      plotOptions: {
        column: {
          pointPadding: 0,
          borderWidth: 0,
          groupPadding: 0,
          shadow: false
        }
      }
    });
  });