:javascript
  $(function () { 
    $('#user-histogram').highcharts({
      chart: {
        type: 'column',
        alignTicks: true
      },
      title: {
        text: 'Messages by User',
        style: {
          fontSize: '16px',
          fontFamily: 'Helvetica Neue, Helvetica, Arial, sans-serif'
        }
      },
      xAxis: {
        categories: #{cutoff = get_cutoff(user_frequencies, 40); user_frequencies.values.collect{|user| format_user_names(user[0]) if user[1] >= cutoff }.compact },
        labels: {
          rotation: -45,
          align: 'right',
          style: {
            fontSize: '13px',
            fontFamily: 'Helvetica Neue, Helvetica, Arial, sans-serif'
          }
        }
      },
      yAxis: {
        min: 0,
        minTickInterval: 10,
        title: {
          text: '# Messages sent'
        }
      },
      legend: {
        enabled: false
      },
      tooltip: {
        pointFormat: '# Messages sent: <b>{point.y} </b>',
      },
      series: [{
        name: 'Message Frequencies',
        data: #{cutoff = get_cutoff(user_frequencies, 40); user_frequencies.values.collect{|user| user[1] if user[1] >= cutoff }.compact},
        dataLabels: {
          enabled: true,
          color: 'black',
          style: {
            fontSize: '13px',
            fontFamily: 'Helvetica Neue, Helvetica, Arial, sans-serif'
          }
        }
      }],
      plotOptions: {
        column: {
          pointPadding: 0,
          borderWidth: 0,
          groupPadding: 0,
          shadow: false
        }
      }
    });
  });