%br
%br
- @groups.each do |group|
  = render partial: 'groups/group', locals: {group: group}
:javascript
  window.onpageshow = function(){
    $('loading-frame').hide();
    LoadingHandler.initializeLoader();
  };