.header {
  background-color: #00AFF0;
  display: block;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  h3 {
    color: white;
    float: left;
    margin: 8px 0 0 10px;
    a {
      color: white;
      text-decoration: none;
      font-size: 36px;
      &:hover {
        color: #CCFFFF;
      }
    }
  }
  .btn {
    float: right;
    margin: 10px 10 0 0px;
    color: #00AFF0;
    background-color: white;
    &:hover {
      text-decoration: none;
      background-color: #CCFFFF;
      color: #00AFF0;
    }
  }
}

.frame {
  .login-button {
    background-color: #00AFF0;
    color: white;
    &:hover {
      background-color: #CCFFFF;
      color: #00AFF0;
    }
  }
  .back-button {
    top: 78px;
  }
  .flip-button {
    top: 130px;
    h3 {
      padding: 4px 0px 4px 0px;
      font-size: 18px;
    }
  }
  .fixed-button {
    width: 194px;
    position: fixed;
    left: 0;
    padding: 5px 10px 5px 10px;
    margin: 0 0 0 1px;
    border-radius: 12px;
    background-color: #00AFF0;
    &:hover {
      background-color: #CCFFFF;
      a {
        color: #00AFF0;
        text-decoration: none;
      }
    }
    h3 {
      margin: 0 0 0 0;
    }
    a {
      color: white;
    }
  }
  h2 {
    font-weight: 900;
  }
  .message {
    width: 600px;
    background-color: #00AFF0;
    border-radius: 15px;
    padding: 0 0 0 0;
    margin-bottom: 10px;
    .message-image {
      float: left;
      margin: 10px 15px 10px 10px;
      width: 60px;
      height: inherit;
      position: relative;
      img {
        border-radius: 10px;
        width: 60px;
        height: 60px;
      }
    }
    .message-details {
      text-align: left;
      margin: 8px 10px 10px 0;
      color: white;
      width: 500px;
      float: left;
      text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
      font-weight: 900;
      .sender-name {
      }
      .message-text {
        
      }
    }
  }
  .group {
    float: left;
    width: 400px;
    border: solid;
    border-color: #00AFF0;
    color: #666666;
    background-color: #CCFFFF;
    border-radius: 15px;
    padding: 0 0 0 0;
    margin: 10px 10px 10px 10px;
    .group-image {
      float: left;
      margin: 22px 0px 0 22px;
      width: 60px;
      height: 60px;
      img {
        border-radius: 10px;
        width: 60px;
        height: 60px;
      }
    }
    .group-details{
      float: left;
      width: 300px;
      padding: 5px 0 5px 0;
      .row {
        .group-num-members {
          display: inline-block;
        }
        .group-num-messages {
          display: inline-block;
        }
      }
      .group-name {
        h4 {
          font-weight: 900;
        }
      }
      a { 
        background-color: #00AFF0;
        color: white;
        padding: 2px 5px 2px 5px;
        border-radius: 5px;
        text-decoration: none;
        &:hover {
          background-color: white;
          color: #00AFF0;
        }
        &.see-messages { 
          margin-right: 25px;
        }
        &.see-stats {
          margin-left: 25px;
        }
      }
    }
  }
  .stats-frequencies {
    width: 820px;
    padding: 5px 20px 20px 20px;
    border-radius: 15px;
    margin: 10px auto 20px auto;
    background-color: #00AFF0;
    .stats-frequency {
      float: left;
      width: 240px;
      padding: 0 0 0 0;
      margin: 0 10px 0px 10px;
      .list {
        background-color: #CCFFFF;
        border-radius: 15px;
        padding: 5px 0 5px 0;
        margin-top: 10px;
        display: block;
        width: 240px;
        height: 150px;
        overflow: auto;
      }
    }
  }
}

.loading-frame {
  display: none;
  position: fixed;
  width: 500px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -100px;
  img {
    width: 500px;
    height: 40px;
    border-radius: 7px;
  }
  h3 {
    color: white;
  }
}

.intro {
  width: 400px;
  margin: 50px auto 20px auto;
  background-color: #00AFF0;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  span {
    color: white;
  }
}