.header {
  background-color: #00AFF0;
  display: block;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  h3 {
    color: white;
    float: left;
    margin: 15px 0 0 10px;
  }
  .btn {
    float: right;
    margin: 10px 10 0 0px;
    color: #23aef6;
    background-color: white;
  }
}

.frame {
  .list {
    display: block;
    width: 300px;
    border: solid;
    height: 150px;
    overflow: auto;
  }
  .message {
    width: 600px;
    background-color: #00AFF0;
    border-radius: 15px;
    padding: 0 0 0 0;
    margin-bottom: 10px;
    .message-image {
      float: left;
      margin: 10px 15px 10px 10px;
      width: 60px;
      height: 60px;
      img {
        border-radius: 10px;
        width: 60px;
        height: 60px;
      }
    }
    .message-details {
      text-align: left;
      margin: 8px 10px 0 0;
      color: white;
      text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;


      font-weight: 900;
      .sender-name {
      }
      .message-text {
        
      }
    }
  }
  .group {
    float: left;
    width: 400px;
    border: solid;
    border-color: #00AFF0;
    color: #666666;
    background-color: #CCFFFF;
    border-radius: 15px;
    padding: 0 0 0 0;
    margin: 10px 10px 10px 10px;
    .group-image {
      float: left;
      margin: 22px 0px 0 22px;
      width: 60px;
      height: 60px;
      img {
        border-radius: 10px;
        width: 60px;
        height: 60px;
      }
    }
    .group-details{
      float: left;
      width: 300px;
      padding: 5px 0 5px 0;
      .row {
        .group-num-members {
          display: inline-block;
        }
        .group-num-messages {
          display: inline-block;
        }
      }
      .group-name {
        h4 {
          font-weight: 900;
        }
      }
      a { 
        background-color: #00AFF0;
        color: white;
        padding: 2px 5px 2px 5px;
        border-radius: 5px;
        text-decoration: none;
        &:hover {
          background-color: white;
          color: #00AFF0;
        }
        &.see-messages { 
          margin-right: 25px;
        }
        &.see-stats {
          margin-left: 25px;
        }
      }
    }
  }
}

.loading-frame {
  display: none;
  position: fixed;
  width: 500px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -100px;
  img {
    width: 500px;
    height: 40px;
    border-radius: 7px;
  }
  h3 {
    color: white;
  }
}

.intro {
  width: 600px;
  padding: 20px 0 0 0;
}