.header
  .logo
    %h3
      = link_to "GroupUs", root_path
  - if current_user
    = link_to "Logout", logout_path, class: "btn btn-info"
  - else
    = link_to "Login", login_path, class: "btn btn-info"